@font-face {
    font-family: "RetroFont";
    src: url(/assets/Retron2000.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-color: black;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #00FF00;
    font-family: "RetroFont";
    font-weight: 100;
}

button {
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    width: 25%;
    padding: 5px;
    color: white;
    font-family: "RetroFont";
    font-weight: 100;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-left: 130px;
}

.container__text {
    margin-top: 130px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.triangulo {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #00FF00;
}

.quadrado {
    width: 25px;
    height: 25px;
    background-color: white;
}

.mainContainer_loadingBar {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_loadingBar {
    display: flex;
    border: 8px solid #FFFFFF;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.barraCarregada {
    width: 35px;
    height: 65px;
    background-color: #ffffff;
}

.mainContainer_interludio {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer_interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    padding: 20px;
}

.mainContainer_interludio section {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    gap: 80px;
}

.division_1-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.division_1-interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
    background-color: black;
    padding: 25px;
}

.division_1-interludio .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.mascara-preta-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.division_1-interludio.active .mascara-preta-1 {
    animation: reveal-mask-1 6s steps(60) forwards;
}

.evidencias {
    width: 560px;
    height: 345px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.evidencias .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.evidencias.mascara .fundo {
    background-image: url(/assets/Rectangle24.jpg);
}

.evidencias.caixa .fundo {
    background-image: url(/assets/thebox.jpg);
}

.mascara-preta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.evidencias.active .mascara-preta {
    animation: reveal-mask 6s steps(60) forwards;
}

.evidencias h3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    padding: 5px;
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
}

.division_2-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgkeys {
    padding: 70px 40px;
}

@keyframes reveal-mask {
    from {
        height: 345px;
    }
    to {
        height: 0
    }
}

@keyframes reveal-mask-1 {
    from {
        height: 765px;
    }
    to {
        height: 0
    }
}