@font-face {
    font-family: "RetroFont";
    src: url(/assets/Retron2000.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: black;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #00FF00;
    font-family: "RetroFont";
    font-weight: 100;
}

button {
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    width: 25%;
    padding: 5px;
    color: white;
    font-family: "RetroFont";
    font-weight: 100;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-left: 130px;
}

.container__text {
    margin-top: 130px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.triangulo {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #00FF00;
}

.quadrado {
    width: 25px;
    height: 25px;
    background-color: white;
}

.mainContainer_loadingBar {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_loadingBar {
    display: flex;
    border: 8px solid #FFFFFF;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.barraCarregada {
    width: 35px;
    height: 65px;
    background-color: #ffffff;
}

.mainContainer_interludio {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer_interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    padding: 20px;
}

.mainContainer_interludio section {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    gap: 80px;
}

.division_1-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.division_1-interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
    background-color: black;
    padding: 25px;
}

.division_1-interludio .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.mascara-preta-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.division_1-interludio.active .mascara-preta-1 {
    animation: reveal-mask-1 6s steps(60) forwards;
}

.evidencias {
    width: 560px;
    height: 345px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.evidencias .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.evidencias.mascara .fundo {
    background-image: url(/assets/Rectangle24.jpg);
}

.evidencias.caixa .fundo {
    background-image: url(/assets/thebox.jpg);
}

.mascara-preta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.evidencias.active .mascara-preta {
    animation: reveal-mask 6s steps(60) forwards;
}

.evidencias h3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    padding: 5px;
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
}

.division_2-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgkeys {
    padding: 70px 40px;
}

.game-night_main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.button_game-night {
    display: flex;
    justify-content: center;
    border: #FFFFFF 2px solid;
    height: 20%;
    width: 5%;
    margin: 0 100px;
}

.button_game-night:hover {
    display: flex;
    justify-content: center;
    border: #FFFFFF 2px solid;
    height: 20%;
    width: 5%;
    background-color: #FFFFFF;
    cursor: pointer;
    margin: 0 100px;
}

.game-night_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.seta-esquerda {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid #00FF00;
}

.seta-direita{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #00FF00;
}

.game-night_main img{
    height: 50%;
}

.game-night-table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 100%;
}

.game-night-terminal_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.terminalSVG {
    width: 90%;
    height: 90%;
    border: none;
}

.container_tela {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.telaTerminal {
    position: absolute;
    top: 48.25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 82.5%;
    height: 83.55%;
    background-color: rgb(24, 12, 66);
    z-index: 2;
}

@keyframes reveal-mask {
    from {
        height: 345px;
    }
    to {
        height: 0
    }
}

@keyframes reveal-mask-1 {
    from {
        height: 765px;
    }
    to {
        height: 0
    }
}

/* tela de tutorial */

.containerTutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containerVideoPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4D0C8;
    width: 800px;
    height: 800px;
    border-top: 5px solid #ECE6E6;
    border-left: 5px solid #ECE6E6;
    border-right: 5px solid #394345;
    border-bottom: 5px solid #394345;
}

.upBar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 40px;
    background: linear-gradient(90deg,rgba(14, 56, 104, 1) 0%, rgba(29, 111, 206, 1) 100%);
}

.upBar_title_container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.upBar_title {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-style: "semi-bold";
    font-weight: 600;
    font-size: 20px
}

.containerWindow {
    display: flex;
    gap: 2.5px;
    padding: 5px 15px;
}

.windowButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #D4D0C8;
}

.notpressed {
    border-top: 3.5px solid #ECE6E6;
    border-left: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #394345;
    border-bottom: 3.5px solid #394345;
}

.pressed {
    border-bottom: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #ECE6E6;
    border-left: 3.5px solid #394345;
    border-top: 3.5px solid #394345;
}

.listMenuPlayer {
    display: flex;
    justify-content: start;
    gap: 10px;
    list-style: none;
    width: 98%;
    height: 35px;
}

.listMenuPlayer li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallwords {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 55px;
}

.bigwords {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 90px;
}

.pressed2 {
    border-bottom: 2px solid #ECE6E6;
    border-right: 2px solid #ECE6E6;
    border-top: 2px solid #394345;
    border-left: 2px solid #394345;
}

.caixadevideo {
    width: 98%;
    height: 530px;
    background-color: black;
}

.progress-container {
    margin-top: 20px;
    width: 98%;
    height: 15px;
    background-color: #D4D0C8;
    border-bottom: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #ECE6E6;
    border-top: 3.5px solid #394345;
    border-left: 3.5px solid #394345;
    cursor: pointer;
    position: relative;
}

.progress-bar {
    width: 5%;
    height: 100%;
    background-color: rgb(32, 33, 97);
}

.containerButtons {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 98%;
    gap: 15px;
    margin-top: 15px;
}

.containerButtons button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.playButton {
    padding-left: 15px;
}

.containerButtons button img {
    width: 20px;
    height: 20px;
}

.containerseparador {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.containerseparador img {
    width: 20px;
    height: 20px;
}

.container_blackbar {
    height: 70px;
    border-top: 5px solid #394345;
    border-left: 5px solid #394345;
    border-bottom: 5px solid #ECE6E6;
    border-right: 5px solid #ECE6E6;
    width: 98%;
    margin-top: 15px;
    background-color: black;
}

.container-AutoFalante {
    padding-left: 80px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.container-AutoFalante img {
    width: 25px;
    height: 25px;
}

.containerVolume {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 22.5px;
    gap: 10px;
}

.volumeprogressBar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #D4D0C8;
    width: 150%;
    height: 100%;
}

.volumeBarContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangulo-volume {
    width: 150px;
    height: 15px;
    background-color: #D4D0C8;
    border-top: #394345 3px solid;
    border-bottom: #ECE6E6 3px solid;
    border-left: #394345 3px solid;
    border-right: #ECE6E6 3px solid;
}

.volumeBar {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
}

.progressButtonVolume {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
}