@font-face {
    font-family: "RetroFont";
    src: url(/assets/Retron2000.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: black;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.telaAviso {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.telaAviso-glitch {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divWarning {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.videoGlitch {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 10%;
}

.videoTVAnalog {
    height: 1000px;
}

.telaAviso h2 {
    color: #ffffff;
    font-size: 48px;
}

.telaAviso p {
    font-size: 24px ;
    text-align: center;
    color: #ffffff;
}

@keyframes acenderOpacidade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.mainContainer {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    color: #00FF00;
    font-family: "RetroFont";
    font-weight: 100;
}

button {
    font-size: 36px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: none;
    width: 25%;
    padding: 5px;
    color: white;
    font-family: "RetroFont";
    font-weight: 100;
}

.container__buttons {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-left: 130px;
}

.container__text {
    margin-top: 130px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.triangulo {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #00FF00;
}

.quadrado {
    width: 25px;
    height: 25px;
    background-color: white;
}

.mainContainer_loadingBar {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_loadingBar {
    display: flex;
    border: 8px solid #FFFFFF;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.barraCarregada {
    width: 35px;
    height: 65px;
    background-color: #ffffff;
}

.container_loadingBar_reversa {
    display: flex;
    flex-direction: row-reverse;
    border: 8px solid #FFFFFF;
    padding: 40px 50px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.barraCarregadareversa {
    width: 35px;
    height: 65px;
    background-color: #ffffff;
}

.mainContainer_interludio {
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer_interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    padding: 20px;
}

.mainContainer_interludio p {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
    padding: 10px;
}

.mainContainer_interludio section {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    display: flex;
    font-size: 48px;
    font-weight: 100;
    gap: 80px;
}

.division_1-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.division_1-interludio h2 {
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
    background-color: black;
    padding: 25px;
}

.division_1-interludio .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.mascara-preta-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.division_1-interludio.active .mascara-preta-1 {
    animation: reveal-mask-1 6s steps(60) forwards;
}

.evidencias {
    width: 560px;
    height: 345px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.evidencias .fundo {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
}

.evidencias.mascara .fundo {
    background-image: url(/assets/Rectangle24.jpg);
}

.evidencias.caixa .fundo {
    background-image: url(/assets/thebox.jpg);
}

.mascara-preta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: height 2s ease;
    z-index: 2;
}

.evidencias.active .mascara-preta {
    animation: reveal-mask 6s steps(60) forwards;
}

.evidencias h3 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    padding: 5px;
    color: #FFFFFF;
    font-family: "inknut-antiqua", serif;
    font-size: 24px;
    font-weight: 100;
}

.division_2-interludio {
    height: 765px;
    width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgkeys {
    padding: 70px 40px;
}

@keyframes reveal-mask {
    from {
        height: 345px;
    }
    to {
        height: 0
    }
}

@keyframes reveal-mask-1 {
    from {
        height: 765px;
    }
    to {
        height: 0
    }
}

/* tela de tutorial */

.containerTutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containerVideoPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D4D0C8;
    width: 800px;
    height: 800px;
    border-top: 5px solid #ECE6E6;
    border-left: 5px solid #ECE6E6;
    border-right: 5px solid #394345;
    border-bottom: 5px solid #394345;
}

.upBar {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 40px;
    background: linear-gradient(90deg,rgba(14, 56, 104, 1) 0%, rgba(29, 111, 206, 1) 100%);
}

.upBar_title_container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.upBar_title {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-style: "semi-bold";
    font-weight: 600;
    font-size: 20px
}

.containerWindow {
    display: flex;
    gap: 2.5px;
    padding: 5px 15px;
}

.windowButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #D4D0C8;
}

.notpressed {
    border-top: 3.5px solid #ECE6E6;
    border-left: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #394345;
    border-bottom: 3.5px solid #394345;
}

.pressed {
    border-bottom: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #ECE6E6;
    border-left: 3.5px solid #394345;
    border-top: 3.5px solid #394345;
}

.listMenuPlayer {
    display: flex;
    justify-content: start;
    gap: 10px;
    list-style: none;
    width: 98%;
    height: 35px;
}

.listMenuPlayer li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallwords {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 55px;
}

.bigwords {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 3px;
    width: 90px;
}

.pressed2 {
    border-bottom: 2px solid #ECE6E6;
    border-right: 2px solid #ECE6E6;
    border-top: 2px solid #394345;
    border-left: 2px solid #394345;
}

.caixadevideo {
    width: 98%;
    height: 530px;
    background-color: black;
}

.progress-container {
    margin-top: 20px;
    width: 98%;
    height: 15px;
    background-color: #D4D0C8;
    border-bottom: 3.5px solid #ECE6E6;
    border-right: 3.5px solid #ECE6E6;
    border-top: 3.5px solid #394345;
    border-left: 3.5px solid #394345;
    cursor: pointer;
    position: relative;
}

.progress-bar {
    width: 5%;
    height: 100%;
    background-color: rgb(32, 33, 97);
}

.progressBarButton {
    position: absolute;
    top: -8px;
    left: 0%;
    width: 20px;
    height: 20px;
    cursor: grab;
}

.containerButtons {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 98%;
    gap: 15px;
    margin-top: 15px;
}

.containerButtons button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.playButton {
    display: flex;
    justify-content: start;
    align-items: center;
}

.containerButtons button img {
    width: 20px;
    height: 20px;
}

.containerseparador {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.containerseparador img {
    width: 20px;
    height: 20px;
}

.container_blackbar {
    height: 70px;
    border-top: 5px solid #394345;
    border-left: 5px solid #394345;
    border-bottom: 5px solid #ECE6E6;
    border-right: 5px solid #ECE6E6;
    width: 98%;
    margin-top: 15px;
    background-color: black;
}

.container-AutoFalante {
    padding-left: 80px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.container-AutoFalante img {
    width: 25px;
    height: 25px;
}

.containerVolume {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 22.5px;
    gap: 10px;
}

.volumeprogressBar {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #D4D0C8;
    width: 150%;
    height: 100%;
}

.volumeBarContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangulo-volume {
    width: 150px;
    height: 15px;
    background-color: #D4D0C8;
    border-top: #394345 3px solid;
    border-bottom: #ECE6E6 3px solid;
    border-left: #394345 3px solid;
    border-right: #ECE6E6 3px solid;
}

.volumeBar {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: block;
}

.progressButtonVolume {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 50px;
    background-color: #D4D0C8;
}

/* 


CSS DA NOITE - GAME


*/


body {
    overflow: hidden;
}

#tela-preta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    z-index: 9999;
    pointer-events: none;
    transition: opacity 5s ease;
}

#telaPreta_two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    z-index: 5;
}

.gameNight_table-container,
.container_tablet-camera {
    position: relative;
    z-index: 20;
}

.game-night_slider {
    display: flex;
    height: 100vh;
    transition: transform 0.1s ease-in-out; /* animação suave */
}

.game-night_slider > * {
    min-width: 100vw;
    flex-shrink: 0;
    height: 100vh;
}

.game-night_main {
    background-image: url(./assets/muro.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

}

.gameNightSection-left {
    background-image: url(./assets/muro-Left.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 100%;
}

.gameNightSection-right {
    background-image: url(./assets/muro-Right.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 0 0 100%;
    position: relative;
}

.center-content {
    background-image: url(./assets/muro.png);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.gameNight_table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 100%;
}

.gameNight_terminal-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.container_tela {
    background-color: #1A1F37;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 7%;
    left: 5%;
    width: 90%;
    height: 83%;
    z-index: 1;
}

.terminal_categories-buttons_container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    width: 80%;

}

.container_tablet-camera {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.telatablet-camera {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 8%;
    width: 84%;
    height: 80%;
    z-index: 1;
}

.linharec {
    position: absolute;
}

.esq {
    left: 5%;
}

.dir {
    right: 5%;
}

.sup {
    top: 5%;
}

.inf {
    bottom: 5%;
}

.playRec {
    position: absolute;
    top: 10%;
    left: 10%;
}

.div-CamButtons {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    gap: 20px;
}

.div-PuppetButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    gap: 100px;
}

.div-BabyButtons {
    display: flex;
    margin-right: 150px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-BabyButtons-div {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 65px);
    grid-template-rows: repeat(4, 65px);
    justify-content: center;
    align-items: center;
    width: 100%;
}

.musicBoxMusic {
    width: 100%;
}

.controledShock {
    width: 100%;
}

.alertBox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-self: center;
}

.alertBox img {
    width: 50px;
    height: 50px;
}

.imgAlert {
    display: none;
    width: 15px;
    height: 15px;
}

.divBB-1 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 150px;
}

button:not(.progress-container, .progressBarButton, .progressButtonVolume, .volumeBarContainer, .volumeprogressBar, .progressButtonVolume, .triangulo-volume, .containerVolume) {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
}

img:not(.progress-container, .progressBarButton, .progressButtonVolume, .volumeBarContainer, .volumeprogressBar, .progressButtonVolume, .triangulo-volume, .containerVolume) {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

div:not(.progress-container, .progressBarButton, .progressButtonVolume, .volumeBarContainer, .volumeprogressBar, .progressButtonVolume, .triangulo-volume, .containerVolume) {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.divBB-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 125px;
    gap: 20px;
    margin-bottom: 50px;
}

.BabyButtons-p {
    color: #FFFFFF;
    font-size: 20px;
}

.minig-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border: #FFFFFF 2px solid;
}

.minig-buttons:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    background-color: #515d99;
    border: #FFFFFF 2px solid;
}

.minig-buttons.clicado {
    border-color: gold;
}

.minig-resetButton {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    border: #FFFFFF 2px solid;
    height: 50px;
    width: 80%;
}

.minig-resetButton:hover {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    border: #FFFFFF 2px solid;
    height: 50px;
    width: 80%;
}

.CamButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 120px;
    border: #FFFFFF 5px solid;
}

.CamButtons:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 120px;
    color: #1A1F37;
    background-color: #FFFFFF;
    border: #FFFFFF 5px solid;
}

.categories-buttons {
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
}

.categories-buttons:hover {
    color: #1A1F37;
    background-color: #FFFFFF;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
}

.buttons-tasks {
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
    width: 200px;
}

.loadingButtons {
    height: 5px;
    width: 15px;
}

.buttons-tasks:hover {
    font-size: 16px;
    color: #00FF00;
    background-color: #1A1F37;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
    width: 200px;
}

.buttons-tasks-complete {
    font-size: 16px;
    color: #1A1F37;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
    width: 200px;
}

.buttons-tasks-complete:hover {
    font-size: 16px;
    color: #1A1F37;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: #FFFFFF 2px solid;
    width: 200px;
}

.telaUpgrades {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-upgrade-moneys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.money {
    font-size: 24px;
}

.container-upgrade-moneys button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: #ffffff 2px solid;
    padding: 5px;
    width: 200px;
}

.container-upgrade-moneys button:hover {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #00FF00;
    border: #ffffff 2px solid;
    padding: 5px;
    width: 200px;
}

.backtoTasks {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.backtoTasks button {
    padding: 5px;
    display: flex;
    justify-content: center;
    border: #FFFFFF solid 2px;
    font-size: 16px;
    width: 200px;
}

.backtoTasks button:hover {
    padding: 5px;
    display: flex;
    color: #00FF00;
    justify-content: center;
    border: #FFFFFF solid 2px;
    font-size: 16px;
    width: 200px;
}

.container-tasks {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.container_order-supplies {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_advertising {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_maintenance {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tela_linha-horizontal {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    border:#FFFFFF 2px solid;
}

.tela_linha-vertical {
    width: 90%;
    border: #FFFFFF 2px solid;
}

.container_buttonGameNight {
    height: 100%;
    width: 100px;
    background-color: #000000;
    opacity: 50%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0 100px;
    justify-content: center;
}

.container_buttonGameNight-leftScreen {
    height: 100%;
    width: 100px;
    position: absolute;
    background-color: #000000;
    opacity: 50%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGameNight {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    width: 70px;
    height: 300px;
    border: #FFFFFF 2px solid;
}

.buttonGameNight-leftScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    width: 70px;
    height: 300px;
    border: #FFFFFF 2px solid;
}

.container_buttonGameNight-RightScreen {
    height: 100%;
    width: 100px;
    position: absolute;
    left: 5%;
    background-color: #000000;
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_buttonGameNight-horizontal {
    position: absolute;
    top: 90%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.buttonGameNight-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    border: #FFFFFF 2px solid;
}

.container_bottom-buttons {
    margin-top: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.bottom-button {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.imgBottom-button {
    width: 150px;
}

.deactivated {
    display: none;
    width: 150px;
}

/* sistema de aquecimento */

.telaHeater {
    margin-top: 30px;
    display: flex; 
    gap: 50px;  
}

.telaHeater h1 {
    font-size: 24px;
    color: #FFFFFF;
}

.telaVentilation {
    margin-top: 50px;
    display: flex; 
    gap: 50px;  
}

.telaVentilation h1 {
    font-size: 24px;
    color: #FFFFFF;
}

.telaVentilation-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.telaHeater-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.onOffButton-div {
    display: flex;
    align-items: center;
    width: 200px;
}

.onOffButton-white {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 50%;
    color: #1A1F37;
    border: #FFFFFF 2px solid;
    font-size: 24px;
}

.onOffButton-black {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1F37;
    width: 50%;
    color: #FFFFFF;
    font-size: 24px;
    border: #FFFFFF 2px solid;
}

.grid {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 30px 30px 15px 30px 15px 30px 30px;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.player {
    width: 15px;
    height: 15px;
    background-color: goldenrod;
}

.player1 {
    width: 15px;
    height: 15px;
    background-color: #eb0000;
}

.player2 {
    width: 15px;
    height: 15px;
    background-color:blueviolet;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.displayNone {
    display: none;
}

.cell-attack {
    background-color: rgb(255, 255, 255);
    justify-self: center;
    width: 30px;
    height: 15px;

}

.cell-player {
    width: 30px;
    height: 30px;
    background-color: #1A1F37;
    border: #FFEA00 8px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-audio-lure {
    width: 30px;
    height: 30px;
    background-color: #c9d2ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockedCell {
    width: 30px;
    height: 30px;
    background-color: #1A1F37;
    border: #FFFFFF 3px solid;
}

.displayTemperature {
    position: absolute;
    top: 90%;
    left: 25%;
    height: 50px;
    width: 200px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayNoise {
    position: absolute;
    top: 90%;
    right: 25%;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #ffffff;
    flex-direction: column;
}

.containerNoise {
    border: #ffffff 5px solid;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
}

.noiseBar {
    height: 18px;
    background-color: transparent;
    width: 14px;
    margin: 0 5px;
}

.activeNoise {
    background-color: #FFFFFF;
}

.displayTurnButton {
    position: absolute;
    top: 87.5%;
    left: 20%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayTurnButton img {
    height: 80%;
    width: 80%;
}

.textTemperature {
    font-size: 24px;
    font-family: 'RetroFont';
}

.svg-audio-lure {
    height: 20px;
    width: 20px;
}

.cell-attracted {
    outline: 2px dashed orange;
}

.attracted-indicator {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 5px;
    right: 5px;
}

.section-gameWin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section-gameWin video {
    height: 80%;
    width: 80%;
}

#terminalTela {
    transform-origin: center center;
}

@keyframes desligarTela {
    from {
        transform: scaleY(1);
        visibility: visible;
    } to {
        transform: scaleY(0);
        background-color: #FFFFFF;
        visibility: hidden;
    }
}

@keyframes ligarTela {
    from {
        transform: scaleY(0);
        background-color: #FFFFFF;
        visibility: hidden;
    } to {
        transform: scaleY(1);
        visibility: visible;
    }
}

@keyframes jogoGanho {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}


@keyframes moveLeft {
    from { transform: translateX(0) scale(1); opacity: 1; }
    to   { transform: translateX(-10px) scale(0.5); opacity: 0.1; }
}

@keyframes moveRight {
    from { transform: translateX(0) scale(1); opacity: 1; }
    to   { transform: translateX(10px) scale(0.5); opacity: 0.1; }
}

@keyframes moveUp {
    from { transform: translateY(0) scale(1); opacity: 1; }
    to   { transform: translateY(-10px) scale(0.5); opacity: 0.1; }
}

@keyframes moveDown {
    from { transform: translateY(0) scale(1); opacity: 1; }
    to   { transform: translateY(10px) scale(0.5); opacity: 0.1; }
}

.move-left   { animation: moveLeft 1s infinite alternate; }
.move-right  { animation: moveRight 1s infinite alternate; }
.move-up     { animation: moveUp 1s infinite alternate; }
.move-down   { animation: moveDown 1s infinite alternate; }

/* Savage Buttons */

.sa_Container {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(./assets/savage/backgroundSavage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}

.divTerminal_sa {
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTerminal_sa img {
    height: 100%;
}

.telaPainel_sa {
    height: 60%;
    width: 82.5%;
    top: 17.5%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_sa_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 15%;
}

.exaustor_sa {
    height: 45%;
}

.buttonShock_sa {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonShock_sa img {
    width: 100%;
    height: 100%;
}

.telaVideo_sa {
    height: 100%;
    width: 82.5%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.displayDoVideo{
    height: 100%;
    width: 100%;
    background-color: #000000;
    position: relative;
    overflow: hidden;
}

.centerPlayButton_sa {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.videoAtual {
    height: 100%;
    width: 100%;
}

.videoGlitch {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: #000000;
    display: block;
    pointer-events: none;
}

.camButtons_sa {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 16px;
    z-index: 10;
}

.camButtons_sa:hover {
    position: absolute;
    width: 100px;
    height: 50px;
    left: 25px;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #FFFFFF;
    font-size: 16px;
    z-index: 10;
}

.savage_list-button-open {
    height: 500px;
    width: 600px;
    background-color: #000000;
    border: #ffffff 10px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BSList_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.BSList_container div {
    display: flex;
    gap: 25px;
}

.BSList_container p {
    color: #00FF00;
    font-family: "RetroFont";
    align-items: center;
    gap: 10px;
}

.BSList-div {
    display: flex;
    gap: 20px;
}

.BSList-div-1 {
    display: flex;
    margin-left: 120px;
    gap: 50px;
}

.BSList {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
}

.BSList-check {
    border: 10px #ffffff solid;
    background-color: #0000A8;
    width: 40px;
    height: 40px;
}

@keyframes fecharDiv {
    from {
        height: 500px;
        width: 1000px;
        background-color: #000000;
        border: #ffffff 10px solid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } to {
        height: 50px;
        width: 50px;
        background-color: #00FF00;
        border: none;
        top: auto;
        bottom: 50px;
        transform: none;
        left: 50px;
    }
}

@keyframes abrirDiv {
    from {
        height: 50px;
        width: 50px;
        background-color: #00FF00;
        border: none;
        top: auto;
        bottom: 50px;
        transform: none;
        left: 50px;
    } to {
        height: 500px;
        width: 1000px;
        background-color: #000000;
        border: #ffffff 10px solid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#gameOverScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5 ease;
    pointer-events: none;
}

#gameOverScreen img {
    max-width: 90%;
    max-height: 90%;
}

#gameOverScreen.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

